extends ../layout
block content
    .container
        a(href='/admin/user/list') 用户列表页
        a(href='/admin/movie/new') 电影录入页
        a(href='/admin/movie/list') 电影详情页
        a(href='/admin/category/new') 分类录入页
        a(href='/admin/category/list') 分类详情页