extends ../layout.pug
block content
    .container
        .row
            table.table.table.hover.table.table-bordered
                thead
                    tr
                        th 名字
                        th 时间
                tbody
                    each item in users
                        tr(class=`item-id-${item._id}`)
                            td #{item.name}
                            td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
    //- script(src="/static/js/admin.js")